[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/SOIL2"]
	path = vendor/SOIL2
	url = https://github.com/SpartanJ/SOIL2.git
